
.counter { background-color: #fff; }
.count-title {font-family:'01_digitgraphicsregular';color:yellow; font-size: 2.5rem; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;text-align: center;color:#fff; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }
@font-face {
    font-family: '01_digitgraphicsregular';
    src: url('../font/01digigraphics-webfont.eot');
    src: url('../font/01digigraphics-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/01digigraphics-webfont.woff2') format('woff2'),
         url('../font/01digigraphics-webfont.woff') format('woff'),
         url('../font/01digigraphics-webfont.ttf') format('truetype'),
         url('../font/01digigraphics-webfont.svg#01_digitgraphicsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}